<% provide(:title, 'Grant')%>
<main role="main" class="container">

<h1>GrantFinder</h1>

<br>

<form>
    <p>Please enter the term you  would like to find:</p>
    <input type="text" name="name">
</form>

<form method="get" action="show.html">
    <button type="submit">Search</button>
</form>

<form>
    <br>
    <br>
    <br>

    <p>Our search bar will search through the grants on the National Institute of Health website and show you what grants have the term you're searching for.</p>
</form>


</main><!-- /.container -->
